<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="SAVAlphaSF">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbprojet</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">dbprojet</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="fr.adaming.models.CltProdGarVend" />
        <mapping class="fr.adaming.models.VendGar" />
        <mapping class="fr.adaming.models.Adresses" />
        <mapping class="fr.adaming.models.Clients" />
        <mapping class="fr.adaming.models.Enseignes" />
        <mapping class="fr.adaming.models.Garanties" />
        <mapping class="fr.adaming.models.Pannes" />
        <mapping class="fr.adaming.models.ProdPanne" />
        <mapping class="fr.adaming.models.Comptes" />
        <mapping class="fr.adaming.models.Reparateurs" />
        <mapping class="fr.adaming.models.Vendeurs" />
        <mapping class="fr.adaming.models.ProdGar" />
        <mapping class="fr.adaming.models.Produits" />
        <mapping class="fr.adaming.models.Reparations" />
    </session-factory>
</hibernate-configuration>
